<mat-toolbar color="primary">
	<span>Video Manager</span>
	<span class="spacer"></span>
	<button mat-icon-button matTooltip="Add video" *ngIf="userService.user.id !== 0" (click)="openUpload()">
		<mat-icon>add</mat-icon>
	</button>
    <button mat-icon-button matTooltip="Log Out" (click)="logout()">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>
<main class="videos">
	<mat-spinner color="primary" *ngIf="upload.loadingVideos"></mat-spinner>
	<ng-container *ngIf="videos$ | async as videos">
		<h2>Your Videos</h2>
		<section class="video-container">
			<app-video *ngFor="let video of videos.videos" [video]="video" (delete)="deleteVideo(video)"></app-video>
		</section>
		<span *ngIf="!videos.videos?.length"><em>Hi! Upload some videos to get this party started!</em></span>
		<h2>Shared Videos</h2>
		<section class="video-container">
			<app-video *ngFor="let shared of videos.shared" [video]="shared"></app-video>
		</section>
		<span *ngIf="!videos.shared?.length"><em>Uh oh! No one has shared any videos with you! :-(</em></span>
	</ng-container>
</main>