<mat-toolbar color="primary">
	<span>Video Manager</span>
	<span class="spacer"></span>
	<button mat-icon-button matTooltip="Add video" *ngIf="userService.user.id !== 0" (click)="openUpload()">
		<mat-icon>add</mat-icon>
	</button>
    <button mat-icon-button matTooltip="Log Out" (click)="logout()">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>
<main class="videos">
	<mat-spinner color="primary" *ngIf="upload.loadingVideos"></mat-spinner>
	<ng-container *ngIf="videos$ | async as videos">
		<app-user-videos [videos]="videos.videos" (delete)="deleteVideo($event)"></app-user-videos>
		<app-shared-videos [videos]="videos.shared"></app-shared-videos>
	</ng-container>
</main>