<mat-toolbar color="primary">
	<span>Video Manager</span>
	<span class="spacer"></span>
	<button mat-icon-button matTooltip="Add video" *ngIf="userService.user.id !== 0" (click)="openUpload()">
		<mat-icon>add</mat-icon>
	</button>
    <button mat-icon-button matTooltip="Log Out" (click)="logout()">
		<mat-icon>logout</mat-icon>
	</button>
</mat-toolbar>
<main class="videos">
	<h2>Your Videos</h2>
	<mat-spinner color="primary" *ngIf="upload.loadingVideos"></mat-spinner>
	<section class="video-container">
		<app-video *ngFor="let video of videos$ | async" [video]="video"></app-video>
	</section>
	<span *ngIf="!(videos$ | async)?.length && !upload.loadingVideos"><em>Hi! Upload some videos to get this party started!</em></span>
    <h2>Shared Videos</h2>
	<mat-spinner *ngIf="upload.loadingShared" color="primary"></mat-spinner>
    <section class="video-container">
        <app-video *ngFor="let video of shared$ | async" [video]="video"></app-video>
    </section>
	<span *ngIf="!(shared$ | async)?.length && !upload.loadingShared"><em>Uh oh! No one has shared any videos with you! :-(</em></span>
</main>