<h2 mat-dialog-title>Upload Video</h2>
<mat-dialog-content>
	<button *ngIf="!file" class="upload-button" (click)="selectFile()">
		<mat-icon>cloud_upload</mat-icon>
		Select File to Upload
	</button>
	<p class="selected-file" *ngIf="file">{{ file.name }}</p>
	<input type="file" name="file" id="file-upload" #fileInput (change)="fileChange($event)" />
	<span class="error" *ngIf="fileTooBig">File size cannot exceed 50MB.</span>
	<div class="control">
		<label>Title<sup>*</sup></label>
		<input type="text" [(ngModel)]="title">
		<span class="error" *ngIf="!title && file">Video must have a title.</span>
	</div>
	<div class="control">
		<label>Tags</label>
		<span class="label-description">Split tags by comma (,)</span>
		<input type="text" [(ngModel)]="tags">
	</div>
	<div class="control">
		<label>Description</label>
		<textarea [(ngModel)]="description"></textarea>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button [mat-dialog-close]>Cancel</button>
	<button mat-flat-button color="primary" (click)="upload()" [disabled]="!title || uploadService.uploading">
		<span *ngIf="!uploadService.uploading">Upload</span>
		<mat-spinner *ngIf="uploadService.uploading" color="primary" diameter="20"></mat-spinner>
	</button>
</mat-dialog-actions>
